input{
    width: 65px;
    height: 60px;
    font-size: 23px;
    margin: 5px;
}
.t1
{
    width: 95%;
    text-align: right;
}
table
{
    border:2px inset #222;
}
p{
    text-align: center;
    font-size: 30px;
}